<div class="bootstrap-wrapper">
    <div class="container">
       
        <header id="header">
            <h1>Welcome To Quizz App</h1>
        </header>
        <div id="card" style="margin-top: -6%;">
        <article id="intro">
            <button routerLink="/signup" >Register Yourself To Start</button>
        </article>
        
        <section class="section">
            <img src="https://image.pngaaa.com/615/6733615-middle.png">
           
        </section>
        </div>
       
        
      
       
      
          
    </div>
</div>
                
